0 0 * * * cd "/home/shivang/Academics/Software Lab/Project/code/Real-Time-Threat-Detection" && /usr/bin/python3 backend/scanner.py  /home/shivang/Academics/>> "/home/shivang/Academics/Software Lab/Project/code/Real-Time-Threat-Detection/logs/cront_logs.txt"
